<h4> All Students </h4>
<ul class="collection ">
    <% @students.each do |student| %>
    <li class="collection-item avatar ">
      <i class="material-icons circle">face</i>
      <span class="title"><%= student.email %></span>
      <p>Enrolled in <%= pluralize(student.courses.count, 'course') %> </p>
      <br>
      <div class="row">
        <% student.courses.each do |course| %>
          <%= link_to ("<span class='course-listing'> #{course.short_name} </span>").html_safe, course_path(course) %>
        <% end %>
        
        
      </div>      
    </li>
    <% end %>
</ul>