<% if notice %>
  <div class="materialert notice">
      <p class="notice"><%= notice %></p>      
  </div>
<% end %>

<% if alert %>
  <div class="materialert alert">
      <p class="alert"><%= alert %></p>      
  </div>
<% end %>